@inherits LayoutComponentBase

<div class="app-container @(isMobileMenuOpen ? "mobile-menu-open" : "")" @onkeydown="HandleGlobalKeyDown" tabindex="-1">
    <div class="app-layout">
        @* Sidebar *@
        <LeftMenu IsCollapsed="isCollapsed" IsMobileOpen="isMobileMenuOpen" OnCloseMobileMenu="CloseMobileMenu" OnToggleSidebar="ToggleSidebar" />
        
        @* Main Content Wrapper *@
        <div class="main-wrapper">
            <TopBar OnToggleMobileMenu="ToggleMobileMenu" OnToggleSettings="ToggleSettings" @ref="topBarRef" />
            
            <main class="main-content">
                @Body
            </main>
            <Toast />
            <ERP.Components.Shared.UI.ThemeSettingsSidebar @bind-IsVisible="isSettingsOpen" />
            
            @if (isMobileMenuOpen)
            {
                <div class="sidebar-overlay" @onclick="CloseMobileMenu"></div>
            }
        </div>
    </div>
</div>

<LoadingSpinner IsLoading="@isNavigating" LoadingText="Loading..." />
